#Configuration info
[Project Info]
    Project = 21653

###SensorPowerUpInAdvance begin
[SensorPowerUpInAdvance]
    IsPowerUpinAdvance   = false

[PropertyPackageName]
    AppPackageNameTag = oplus.camera.packname
###SensorPowerUpInAdvance end

[NightMode]
    # 0 MipiRaw   1 IfeIdealRaw  2 BpsIdealRaw
    DarkSightRawCBType  = 0
    SuperNightRawCBType = 2
    StarModeCBType      = 0
    ExpectedExposureTime = 40000
[OPPackageName Group]
    SystemCamera    = com.oppo.camera; com.oplus.camera
    EngineerCamera  = com.oppo.engineermode; com.oppo.engineermode.camera; com.oplus.engineermode; com.oplus.engineercamera
[OemSelectUsecaseZSL]
                   #operation mode   number_of_streams   sensor_mask
    isMatch[0]  =    0x8001;               4;             0x0005       # photomode of single wide, ultra
    isMatch[1]  =    0x8009;               3;             0x000D       # professional mode of wide, ultra, tele(0x1101 = 0xD)
    isMatch[2]  =    0x8019;               4;             0x0007       # supernight mode of single wide, ultra, frontcamera
    isMatch[3]  =    0x80A8;               4;             0x0001       # starry mode of rear, main

[ForceOffAvoidGPUAppList]
    #PackName                #PackName_name
    PackName[0]        =     com.oppo.camera
    PackName[1]        =     com.oplus.camera
    PackName[2]        =     com.oppo.engineermode.camera
    PackName[3]        =     com.oplus.engineercamera
    PackName[4]        =     com.sina.weibo
    PackName[5]        =     com.tencent.now
    PackName[6]        =     com.eg.android.AlipayGphone
    PackName[7]        =     com.taobao.idlefish
    PackName[8]        =     com.intsig.camscanner
    PackName[9]        =     com.linecorp.foodcamcn.android
    PackName[10]        =     com.perfectcorp.youcammakeupcn
    PackName[11]       =     my.PCamera
    PackName[12]       =     com.by.butter.camera
    PackName[13]       =     com.yixia.videoeditor
    PackName[14]       =     jp.naver.linecamera.android
    PackName[15]       =     cn.poco.jane
    PackName[16]       =     com.tencent.mm
    PackName[17]       =     com.alibaba.android.rimet
    PackName[18]       =     com.tencent.mobileqq
    PackName[19]       =     com.whatsapp
    PackName[20]       =     com.flyingeffects.com

[OemCommonCapbility]
    isZslOutputBufferSameAsSensor = TRUE
    enableDualYuvSnapshotStream = TRUE
    SinglecamOverrideStaticCaps = TRUE
    DisableCtsDualCameraTest = TRUE
    isNightProEnabled = TRUE
    isNotNeedLscOem = TRUE
    isNeedctsapp = TRUE
    IsMultiwinSupport = TRUE

[OemCamxSettings]
    extraBufferQueue = 2

[MultiCameraVirtualSuperGraph]
    #ChiFeature2Type     RealTimeMCX  FeatureMux  AnchorSync SWRemosaic Bayer2Yuv HDR  BOKEH MultiCameraReprocessRealtime RealtimePostProcessor
    #FeatureId           28           35          15         34         1         6    14    29                           32
    #Operation[0x8011]
    Common             =                                     34;                  6;

[VirtualSuperGraph]
    #ChiFeature2Type     RealTime RawHDR  Bayer2Yuv
    #FeatureId           0        10      1
    Camera[0]          =          10;
    Camera[1]          =          10;
    Camera[2]          =          10;
    Camera[3]          =          10;

[PinFiles]
    so[0]=/vendor/lib64/libOpenCL.so;
    so[1]=/vendor/lib64/libgsl.so;
    so[2]=/vendor/lib64/libCB.so;
    so[3]=/vendor/lib64/libipebpsstriping.so;
    so[4]=/vendor/lib64/com.qti.feature2.gs.mannar.so;
    so[5]=/vendor/lib64/com.qti.feature2.anchorsync.so;
    so[6]=/vendor/lib64/com.qti.feature2.demux.so;
    so[7]=/vendor/lib64/com.qti.feature2.frameselect.so;
    so[8]=/vendor/lib64/com.qti.feature2.fusion.so;
    so[9]=/vendor/lib64/com.qti.feature2.generic.so;
    so[10]=/vendor/lib64/com.qti.feature2.hdr.so;
    so[11]=/vendor/lib64/com.qti.feature2.memcpy.so;
    so[12]=/vendor/lib64/com.qti.feature2.mfsr.so;
    so[13]=/vendor/lib64/com.qti.feature2.qcfa.so;
    so[14]=/vendor/lib64/com.qti.feature2.rawhdr.so;
    so[15]=/vendor/lib64/com.qti.feature2.rt.so;
    so[16]=/vendor/lib64/com.qti.feature2.serializer.so;
    so[17]=/vendor/lib64/com.qti.feature2.stub.so;
    so[18]=/vendor/lib64/com.qti.feature2.swmf.so;
    so[19]=/vendor/lib64/camera/components/com.qti.stats.pdlib.so;
    so[20]=/vendor/lib64/camera/components/com.qti.stats.hafoverride.so;
    so[21]=/vendor/lib64/libcamxtintlessalgo.so;
    so[22]=/vendor/lib64/libcamxswprocessalgo.so;
    so[23]=/vendor/lib64/libthermalclient.so;
    so[24]=/vendor/lib64/libcamxexternalformatutils.so;

[OemFDAttrEnableMap]
    #                  operation_mode   sensor_mask
    Mode[0]        =      0x8001;            0xFFFF;
    Mode[1]        =      0x800B;            0xFFFF;
    Mode[2]        =      0x8019;            0x0002;
    Mode[3]        =      0x8011;            0x0002;

[NightProMode]
    FixedRawSensitivityBoost = TRUE

[ActuatorConfig]
    ParkLensDelayTime = 1000

#Distinguish hand and tripod in the SuperNight or NightVideo
[SuperNightShakeState]
    Enable             = false

[CamSensorSettingMap]
    Enable             = TRUE

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8001;            0x0001;            0x0000;           0  #Picture & SUPER HUAZHI & SUPER TXT
    Mode[1]         =     0x8001;            0x0002;            0x0000;           0  #Picture
    Mode[2]         =     0x8007;            0x0001;            0x0000;           2  #Panorama
    Mode[3]         =     0x8007;            0x0002;            0x0000;           0  #Panorama
    Mode[4]         =     0x800B;            0x0001;            0x0000;           0  #VIDEO
    Mode[5]         =     0x800B;            0x0002;            0x0000;           0  #VIDEO
    Mode[6]         =     0x800C;            0x0001;            0x0000;           2  #FastVideo
    Mode[7]         =     0x800C;            0x0002;            0x0000;           0  #FastVideo
    Mode[8]         =     0x800D;            0x0001;            0x0000;           6  #SLOW MOVIE
    Mode[9]         =     0x8021;            0x0001;            0x0000;           3  #VIDEO　60FPS

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask    index
    Mode[0]        =      0x0000;            0x0001;        0x0000;       0;
    Mode[1]        =      0x0000;            0x0002;        0x0000;       0;
    Mode[4]        =      0x802A;            0x0001;        0x0000;       0; #SFR Mode
    Mode[5]        =      0x802A;            0x0002;        0x0000;       0; #SFR Mode

[CtsCamSensorSettingMap]
    #                   cts_mode         sensor_mask   index
    Mode[0]        =      0x0001;            0x0001;       0;
    Mode[1]        =      0x0001;            0x0002;       0;

[ThirdAppCamRatioSensorSettingMap]
    #                  Ratio_mode         sensor_mask   index
    Mode[0]        =      0x0000;            0x0001;       0;
    Mode[1]        =      0x0000;            0x0002;       0;
    Mode[2]        =      0x0001;            0x0001;       0;
    Mode[3]        =      0x0001;            0x0002;       0;

#Whether or not to enable Remosaic for SFR
[EngCameraSFR]
    #                  sensor_mask        state
    Mode[0]        =      0x0001;           0 #Disable
    Mode[1]        =      0x0002;           1 #Disable

[OplusUseAecx]
    useAecx        = TRUE

[OplusVendorID]
#00:oneplus; 01:oppo; 02: realme
    vendorID  = 2

[RawSanpshotArr]
#sensor list           sensor_name
    Sensor[0]        =     ov64b

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =         7 ;          30;
    OemFpsRange[1] =        10 ;          10;
    OemFpsRange[2] =        12 ;          12;
    OemFpsRange[3] =        15 ;          15;
    OemFpsRange[4] =        15 ;          20;
    OemFpsRange[5] =        20 ;          20;
    OemFpsRange[6] =        30 ;          30;

[OemCamActuatorSettingMap]
    #operation mode     is_need_power      first_value        second_value      third_vaue  if is_need_power is 0 set other variables to 0
        Mode[0]      =     0;                 0;                 0;                0        #VCM lowerBound
        Mode[1]      =     1;                 1;                 0;                -1       #VCM upperBound
        Mode[2]      =     0;                 0;                 0;                0        #BIVCM lowerBound
        Mode[3]      =     1;                 1;                 0;                -1       #BIVCM upperBound

[OplusFactoryFixExposures]
#fix factory exposures
    fixedExposures  = 16000000

[SupportEis]
    isNeedEis = TRUE

[OemActuatorInitCode]
    #actuator name       initcode
    dw9800v   =   512

[AfSettings]
    isUseAfMulan = TRUE

[OemGsiCamxSettings]
    disablePartialMetadata = TRUE

[OemPerformanceOptimization]
    IsAsyncAllocMeta = TRUE

[OemCTSConfig]
    FocusDistance = 4.54

[AFsearchRange]
    #operation modeinfo  cameraID      minfocusdistance in cm
    ModuleInfo[0]    =     0;            8

[OemZoomRatioThreshold]
    zoomRatioThreshold = 10.0;  5.0;  1.5

[StabilityDebug]
    isStabilityDebug = TRUE

[SupportedImageSizes]
     #                   width   height
     ImageSizes[0]   =   4160;   3120
     ImageSizes[1]   =   4160;   2496
     ImageSizes[2]   =   4160;   2336
     ImageSizes[3]   =   4160;   1872
     ImageSizes[4]   =   4000;   3000
     ImageSizes[5]   =   4000;   2256
     ImageSizes[6]   =   4000;   1800
     ImageSizes[7]   =   3840;   2160
     ImageSizes[8]   =   3472;   3472
     ImageSizes[9]   =   3456;   3456
     ImageSizes[10]  =   3264;   2448
     ImageSizes[11]  =   3264;   1968
     ImageSizes[12]  =   3264;   1840
     ImageSizes[13]  =   3264;   1472
     ImageSizes[14]  =   3264;   1460
     ImageSizes[15]  =   3200;   2400
     ImageSizes[16]  =   3120;   3120
     ImageSizes[17]  =   3000;   3000
     ImageSizes[18]  =   2592;   1944
     ImageSizes[19]  =   2448;   2448
     ImageSizes[20]  =   2400;   1080
     ImageSizes[21]  =   2304;   1728
     ImageSizes[22]  =   1920;   1440
     ImageSizes[23]  =   1920;   1080
     ImageSizes[24]  =   1920;   856
     ImageSizes[25]  =   1680;   720
     ImageSizes[26]  =   1600;   1200
     ImageSizes[27]  =   1600;   900
     ImageSizes[28]  =   1600;   720
     ImageSizes[29]  =   1600;   716
     ImageSizes[30]  =   1520;   720
     ImageSizes[31]  =   1440;   1080
     ImageSizes[32]  =   1280;   960
     ImageSizes[33]  =   1280;   768
     ImageSizes[34]  =   1280;   720
     ImageSizes[35]  =   1200;   1200
     ImageSizes[36]  =   1080;   1080
     ImageSizes[37]  =   1024;   768
     ImageSizes[38]  =   960;    960
     ImageSizes[39]  =   960;    720
     ImageSizes[40]  =   800;    600
     ImageSizes[41]  =   800;    480
     ImageSizes[42]  =   720;    720
     ImageSizes[43]  =   720;    480
     ImageSizes[44]  =   640;    640
     ImageSizes[45]  =   640;    480
     ImageSizes[46]  =   640;    400
     ImageSizes[47]  =   640;    360
     ImageSizes[48]  =   352;    288
     ImageSizes[49]  =   320;    240
     ImageSizes[50]  =   176;    144

